body {
   background: white;
}

.flex {
 display: flex;
}

.row-wrap {
  flex-flow: row wrap;
}

.row-nowrap {
  flex-flow: row nowrap;
}


.index-a {
   background-image: url('/images/night-waves.svg');
   width: 100vw;
   height: 800px;
   background-size: cover;
}

.index-b {
 background: #f8f8f8;
  height: 800px;
}

.index-c {
  height: 800px;
}

.index-d {
  background: #f8f8f8;
  height: 800px;
}

.index-e {
  background: #353DAB;
  height: 800px;
}

.footer {
 background: #28222E;
 color: white;
 height: 300px;
}
